<%- include('parts/header.ejs') %>
</head>

<body id="home">
    <!-- ===================================navbar===================================== -->
    <%- include('parts/navbar.ejs') %>
    <!-- ===================================/navbar===================================== -->
<div class="container pt-5">
        <div class="row">
            <div class="col-md-7 m-auto p-5">
                <div class="alert-info p-5">
                    <h2 class="text-center text-danger font-weight-bold">Not Found 404</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('parts/footer.ejs') %>