<%- include('parts/header.ejs') %>
</head>

<body id="home">
    <!-- ===================================navbar===================================== -->
    <%- include('parts/navbar.ejs') %>
    <!-- ===================================/navbar===================================== -->



    <div class="cover">

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="person card pb-5 px-5  text-center">
                    <img src="images/man.jpg" width="250" alt="">
                </div>
            </div>
            <div class="col-md-8 pt-4">
                <h2>Ahmed Abd Al-Muti</h2>
                <h4 class="text-muted">Full Stack Web</h4>

                <div class="post card p-4 auto">
                    <div class="media">
                        <img src="images/man.jpg" width="60" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Ahmed Abd Al-Muti</h5>
                            3 min.
                        </div>
                    </div>
                    <hr>
                    <h3>Senior Node.js Developer</h3>
                    <p class="pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                        metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...</p>

                </div>
                <div class="post card p-4 auto">
                    <div class="media">
                        <img src="images/man.jpg" width="60" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">Ahmed Abd Al-Muti</h5>
                            3 min.
                        </div>
                    </div>
                    <hr>
                    <h3>Senior Node.js Developer</h3>
                    <p class="pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                        metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...</p>

                </div>
            </div>
        </div>
    </div>
<%- include('parts/footer.ejs') %>